* {
    font-family: sans-serif;
}

/* BARRA DEL TITOLO */
#titolo {
    background: #78d8d1; /* Old browsers */
    background: -moz-linear-gradient(45deg, #78d8d1 0%, #bcf0d3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #78d8d1 0%,#bcf0d3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #78d8d1 0%,#bcf0d3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 60px;
    text-align: center;
}

#titolo h1 {
    color: #f6f6f6;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
}
/* FINE BARRA DEL TITOLO */


/* STATI */
.stato {
    display: none;
    background: #f6f6f6;
    position: fixed;
    top: 60px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    text-align: center;
}

/* HOME */
.stato#stato-home {

}
.stato#stato-home .button {
    margin-top: 60%;
}
/* FINE HOME */

/* GARA */
.stato#stato-gara{
}

.atleta{
    background: #ffffff;
    border-bottom: 2px solid #454545;
}

#atleti {
    margin-bottom: 30px;
}

.info-atleta {
    padding: 5px;
    text-align: left;
}

.info-atleta .eta-sesso {
    float: right;
}
.info-atleta .nome{
    font-weight: bold;
}
.info-atleta .eta{

}
.info-atleta .sesso{
    border-left: solid 2px #454545;
    padding-left: 5px;
}

.info-atleta div {
    display: inline-block;
}


.avanzamento .barra {
    height: 10px;
    background: #78d8d1;
    width: 0%;
}
/* FINE GARA */

.button {
    background: #454545;
    color: #f6f6f6;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    border-radius: 15px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}